.checkbox {
    display: none;
}

input[name="radio"] {
    display: none;
}

#nextQuestion {
    display: none;
}

#gameArea {
    margin: auto;
    width: 35%;
    background-color: lightblue;
}
/*
#startArea {
    display: none;
}


#inputArea {
    display: none;
}


#categoryArea {
    display: none;
}

#questionArea {
    display: none;
}

#resultArea {
    display: none;
}
*/

.hidden {
    display: none;
}



.answer, .categoryChoice {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin: 10px;
    padding: 10px;
}

.selected {
    background-color: aqua;
    border: 1px solid white;
    border-radius: 10px;
    display: block;
    margin: 10px;
    padding: 15px;
}